<div>
    <p>This is home page</p>
</div>
<div>
    <h2>Navigation</h2>
    <div>
        <div>
            <a href="{{ base_url }}">MAIN PAGE</a>
        </div>
        {% if loginData == 1 %}
            <div>
                <a href="{{ base_url }}/api/logout">LOGOUT</a>
            </div>
        {% else %}
            <div>
                <a href="{{ base_url }}/login">LOGIN PAGE</a>
            </div>
        {% endif %}
    </div>
</div>
<div>
    {% for key,value in queryData %}
        <p>{{ key }} : {{ value }}</p>
    {% endfor %}
</div>
