<div>
    <p>This is main page</p>
</div>
<div>
    <h2>Navigation</h2>
    <div>
        <div>
            <a href="{{ base_url }}/home">HOME PAGE</a>
        </div>
        <div>
            <a href="{{ base_url }}/api">API PAGE</a>
        </div>
        <div>
            <a href="{{ base_url }}/login">LOGIN PAGE</a>
        </div>
    </div>
</div>

{% if queryData %}
<div>
    {% for key,value in queryData %}
        <p>{{ key }} : {{ value }}</p>
    {% endfor %}
</div>
{% endif %}
